<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/home.css') }}">
    {%  endblock %}
</head>
<body>

    <br></br>

    <div>
        <ul>
                <li>
                    <a href="/recipes">Receitas</a>
                </li>
                <li >
                    <a href="/ingredients">Ingredientes</a>
                </li>
            </ul>
        </div>

    {% include 'header/header.html' %}

    <main class="container">
        <div class="row">
            <div class="col-12" style="display: flex; justify-content: space-between; align-items: center;">
                <h1>Recentes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper">
                    {% if data.recipes %}
                        {% for recipe in data.recipes %}
                            <div class="card">
                                <div class="card-title">
                                    <br>
                                    <h4>{{ recipe.name }}</h4>
                                </div>
                                <div class="card-content">
                                    <div class="ingredients">
                                        <hr>
                                        <h5>Ingredientes</h5>
                                        {% for ingredient in recipe.ingredients %}
                                        <p>{{ingredient.name}}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="preparation">
                                        <hr>
                                        <h5>Modo de fazer</h5>
                                        <p>{{ recipe.steps }}</p>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>